<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Create</h1>


{% block body %}
    {{ form_start(outform) }}
    {{ form_widget(outform) }}
    {{ form_end(outform) }}
{% endblock %}
</body>
</html>